[user]
    name = Phillip Quiza
    email = pquiza@gmail.com
[color]
    ui = auto
[alias]
    ci = commit
    co = checkout
    st = status
    br = branch
[core]
    whitespace = tab-in-indent
	attributesfile = /Users/pquiza/.gitattributes
[url "git@github.com:"]
	insteadOf = https://github.com/
